
.cardBorder {
    

       
    display: inline-block;
    margin: 2px;
    color: #69ca62;
    box-shadow: inset 0 0 0 1px rgba(#69ca62, .5);
}
    
         .cardBorder::after {
       
     

          content: '';
          z-index: -1;
          margin: -0.05px 100%;
          box-shadow: inset 0 0 0 2px; 
          animation: clipMe 8s linear infinite;
        }
       
      
        .cardBorder::before {
            
          animation: delay -4s;
        }
      
      
      
    
      @keyframes clipMe {
        0%, 100% {clip: rect(0px, 200px* (1 + .05 * 2), 2px, 0px); }
        25% {clip: rect(0px, 2px, 200px * (1 + .05 * 2), 0px); }
        50% {clip: rect(200px * (1 + .05 * 2) - 2px, 200px * (1 + .05 * 2), 200px * (1 + .05 * 2), 0px); }
        75% {clip: rect(0px, 200px * (1 + .05 * 2), 200px * (1 + .05 * 2), 200px * (1 + .05 * 2) - 2px); }
      }
    
.money{

  height: 50px;
  width:50px;
}
     
.money:hover{
 border: 3px solid white;
 border-radius: 20px;
}
